In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("germanuniversity.csv")

In [6]:
df

,Unnamed: 0,Universities,Computer Science Faculty,Economics Faculty,HR Faculty,Social Science Faculty,Accounting Faculty,BA Faculty,Sum
0,0,Technical University of Munich.,5,7,8,6,8,34,14
1,1,Humboldt-Universität zu Berlin.,6,7,9,7,9,38,16
2,2,Freie Universität Berlin.,7,7,10,8,10,42,18
3,3,University of Bonn.,8,7,11,9,11,46,20
4,4,University of Göttingen.,9,7,12,10,12,50,22
5,5,University of Hamburg.,10,7,13,11,13,54,24
6,6,University of Freiburg.,11,7,14,12,14,58,26
7,7,"Eberhard Karls University, Tübingen",12,7,15,13,15,62,28
8,8,BSBI,13,7,16,14,16,66,30
9,9,Technische Universität München,14,7,17,15,17,70,32
10,10,Ludwig-Maximilians-Universität München,15,7,18,16,18,74,34
11,11,Ruprecht-Karls-Universität Heidelberg,16,7,19,17,19,78,36
12,12,Arden University,17,7,20,18,20,82,38
13,13,Bremen University,18,7,21,19,21,86,40
14,14,Hamburg University,19,7,22,20,22,90,42
15,15,Universitat Freiburg,20,7,23,21,23,94,44
16,16,Eberhard Karls,21,7,24,22,24,98,46
17,17,Munchen University,22,7,25,23,25,102,48
18,18,Dresden University,23,7,26,24,26,106,50
19,19,Technische Universität Berlin,24,7,27,25,27,110,52
20,20,Technische Universität Bremen,25,8,28,26,28,115,54
21,21,Technische Universität Harburg,26,9,29,27,29,120,56
22,22,Technische Universität Berlin,27,10,30,28,30,125,58
23,23,Technische Universität Berlin,28,11,31,29,31,130,60
24,24,Technische Universität Berlin,29,12,32,30,32,135,62
25,25,Technische Universität Berlin,30,13,33,31,33,140,64
26,26,Technische Universität Berlin,31,14,34,32,34,145,66
27,27,Technische Universität Berlin,32,15,35,33,35,150,68
28,28,Technische Universität Berlin,33,16,36,34,36,155,70

In [4]:
print(df)

                              Universities  Computer Science Faculty  \
0          Technical University of Munich.                         5
1          Humboldt-Universität zu Berlin.                         6
2                Freie Universität Berlin.                         7
3                      University of Bonn.                         8
4                 University of Göttingen.                         9
5                   University of Hamburg.                        10
6                  University of Freiburg.                        11
7      Eberhard Karls University, Tübingen                        12
8                                     BSBI                        13
9           Technische Universität München                        14
10  Ludwig-Maximilians-Universität München                        15
11   Ruprecht-Karls-Universität Heidelberg                        16
12                        Arden University                        17
13                      Bremen  University                        18
14                      Hamburg University                        19
15                    Universitat Freiburg                        20
16                         Eberhard Karls                         21
17                      Munchen University                        22
18                      Dresden University                        23
19           Technische Universität Berlin                        24
20           Technische Universität Bremen                        25
21          Technische Universität Harburg                        26
22           Technische Universität Berlin                        27
23           Technische Universität Berlin                        28
24           Technische Universität Berlin                        29
25           Technische Universität Berlin                        30
26           Technische Universität Berlin                        31
27           Technische Universität Berlin                        32
28           Technische Universität Berlin                        33

    Economics Faculty  HR Faculty  Social Science Faculty  Accounting Faculty
0                   7           8                       6                   8
1                   7           9                       7                   9
2                   7          10                       8                  10
3                   7          11                       9                  11
4                   7          12                      10                  12
5                   7          13                      11                  13
6                   7          14                      12                  14
7                   7          15                      13                  15
8                   7          16                      14                  16
9                   7          17                      15                  17
10                  7          18                      16                  18
11                  7          19                      17                  19
12                  7          20                      18                  20
13                  7          21                      19                  21
14                  7          22                      20                  22
15                  7          23                      21                  23
16                  7          24                      22                  24
17                  7          25                      23                  25
18                  7          26                      24                  26
19                  7          27                      25                  27
20                  8          28                      26                  28
21                  9          29                      27                  29
22                 10          30                      28                  30
23                 11          31                      29                  31
24                 12          32                      30                  32
25                 13          33                      31                  33
26                 14          34                      32                  34
27                 15          35                      33                  35
28                 16          36                      34                  36

In [7]:
print(df.head(3))

   Unnamed: 0                     Universities  Computer Science Faculty  \
0           0  Technical University of Munich.                         5
1           1  Humboldt-Universität zu Berlin.                         6
2           2        Freie Universität Berlin.                         7

   Economics Faculty  HR Faculty  Social Science Faculty  Accounting Faculty  \
0                  7           8                       6                   8
1                  7           9                       7                   9
2                  7          10                       8                  10

   BA Faculty  Sum
0          34   14
1          38   16
2          42   18

In [8]:
print(df.tail(3))

                     Universities  Computer Science Faculty  \
26  Technische Universität Berlin                        31
27  Technische Universität Berlin                        32
28  Technische Universität Berlin                        33

    Economics Faculty  HR Faculty  Social Science Faculty  Accounting Faculty
26                 14          34                      32                  34
27                 15          35                      33                  35
28                 16          36                      34                  36

# Reading the files which in excel format

In [ ]:
#the following fomula is used #df_xlsx=pd.read_excel("pokemon".xlsx) 
#print(df_xlsx.head(3)) #also you can read data from txt #df=pd.read_csv("pokeman.txt", delimiter='\t') 
#print(df)

In [9]:
print(df.columns)

Index(['Universities', 'Computer Science Faculty', 'Economics Faculty',
       'HR Faculty', 'Social Science Faculty', 'Accounting Faculty'],
      dtype='object')

In [10]:
#read each columns
print(df['Universities'])

0            Technical University of Munich.
1            Humboldt-Universität zu Berlin.
2                  Freie Universität Berlin.
3                        University of Bonn.
4                   University of Göttingen.
5                     University of Hamburg.
6                    University of Freiburg.
7        Eberhard Karls University, Tübingen
8                                       BSBI
9             Technische Universität München
10    Ludwig-Maximilians-Universität München
11     Ruprecht-Karls-Universität Heidelberg
12                          Arden University
13                        Bremen  University
14                        Hamburg University
15                      Universitat Freiburg
16                           Eberhard Karls
17                        Munchen University
18                        Dresden University
19             Technische Universität Berlin
20             Technische Universität Bremen
21            Technische Universität Harburg
22             Technische Universität Berlin
23             Technische Universität Berlin
24             Technische Universität Berlin
25             Technische Universität Berlin
26             Technische Universität Berlin
27             Technische Universität Berlin
28             Technische Universität Berlin
Name: Universities, dtype: object

In [11]:
print(df['HR Faculty'])

0      8
1      9
2     10
3     11
4     12
5     13
6     14
7     15
8     16
9     17
10    18
11    19
12    20
13    21
14    22
15    23
16    24
17    25
18    26
19    27
20    28
21    29
22    30
23    31
24    32
25    33
26    34
27    35
28    36
Name: HR Faculty, dtype: int64

In [13]:
df

,Universities,Computer Science Faculty,Economics Faculty,HR Faculty,Social Science Faculty,Accounting Faculty
0,Technical University of Munich.,5,7,8,6,8
1,Humboldt-Universität zu Berlin.,6,7,9,7,9
2,Freie Universität Berlin.,7,7,10,8,10
3,University of Bonn.,8,7,11,9,11
4,University of Göttingen.,9,7,12,10,12
5,University of Hamburg.,10,7,13,11,13
6,University of Freiburg.,11,7,14,12,14
7,"Eberhard Karls University, Tübingen",12,7,15,13,15
8,BSBI,13,7,16,14,16
9,Technische Universität München,14,7,17,15,17
10,Ludwig-Maximilians-Universität München,15,7,18,16,18
11,Ruprecht-Karls-Universität Heidelberg,16,7,19,17,19
12,Arden University,17,7,20,18,20
13,Bremen University,18,7,21,19,21
14,Hamburg University,19,7,22,20,22
15,Universitat Freiburg,20,7,23,21,23
16,Eberhard Karls,21,7,24,22,24
17,Munchen University,22,7,25,23,25
18,Dresden University,23,7,26,24,26
19,Technische Universität Berlin,24,7,27,25,27
20,Technische Universität Bremen,25,8,28,26,28
21,Technische Universität Harburg,26,9,29,27,29
22,Technische Universität Berlin,27,10,30,28,30
23,Technische Universität Berlin,28,11,31,29,31
24,Technische Universität Berlin,29,12,32,30,32
25,Technische Universität Berlin,30,13,33,31,33
26,Technische Universität Berlin,31,14,34,32,34
27,Technische Universität Berlin,32,15,35,33,35
28,Technische Universität Berlin,33,16,36,34,36

In [14]:
#list of column names
print(df[['HR Faculty','Computer Science Faculty','Economics Faculty']])

    HR Faculty  Computer Science Faculty  Economics Faculty
0            8                         5                  7
1            9                         6                  7
2           10                         7                  7
3           11                         8                  7
4           12                         9                  7
5           13                        10                  7
6           14                        11                  7
7           15                        12                  7
8           16                        13                  7
9           17                        14                  7
10          18                        15                  7
11          19                        16                  7
12          20                        17                  7
13          21                        18                  7
14          22                        19                  7
15          23                        20                  7
16          24                        21                  7
17          25                        22                  7
18          26                        23                  7
19          27                        24                  7
20          28                        25                  8
21          29                        26                  9
22          30                        27                 10
23          31                        28                 11
24          32                        29                 12
25          33                        30                 13
26          34                        31                 14
27          35                        32                 15
28          36                        33                 16

In [15]:
#used for finding specific data in our data set/ access row with type 
df.loc[df['Universities']=="Technische Universität Berlin"]

,Universities,Computer Science Faculty,Economics Faculty,HR Faculty,Social Science Faculty,Accounting Faculty
19,Technische Universität Berlin,24,7,27,25,27
22,Technische Universität Berlin,27,10,30,28,30
23,Technische Universität Berlin,28,11,31,29,31
24,Technische Universität Berlin,29,12,32,30,32
25,Technische Universität Berlin,30,13,33,31,33
26,Technische Universität Berlin,31,14,34,32,34
27,Technische Universität Berlin,32,15,35,33,35
28,Technische Universität Berlin,33,16,36,34,36

In [16]:
#sorting of values
df.sort_values('Universities', ascending=False)

,Universities,Computer Science Faculty,Economics Faculty,HR Faculty,Social Science Faculty,Accounting Faculty
5,University of Hamburg.,10,7,13,11,13
4,University of Göttingen.,9,7,12,10,12
6,University of Freiburg.,11,7,14,12,14
3,University of Bonn.,8,7,11,9,11
15,Universitat Freiburg,20,7,23,21,23
9,Technische Universität München,14,7,17,15,17
21,Technische Universität Harburg,26,9,29,27,29
20,Technische Universität Bremen,25,8,28,26,28
28,Technische Universität Berlin,33,16,36,34,36
19,Technische Universität Berlin,24,7,27,25,27
27,Technische Universität Berlin,32,15,35,33,35
26,Technische Universität Berlin,31,14,34,32,34
25,Technische Universität Berlin,30,13,33,31,33
24,Technische Universität Berlin,29,12,32,30,32
23,Technische Universität Berlin,28,11,31,29,31
22,Technische Universität Berlin,27,10,30,28,30
0,Technical University of Munich.,5,7,8,6,8
11,Ruprecht-Karls-Universität Heidelberg,16,7,19,17,19
17,Munchen University,22,7,25,23,25
10,Ludwig-Maximilians-Universität München,15,7,18,16,18
1,Humboldt-Universität zu Berlin.,6,7,9,7,9
14,Hamburg University,19,7,22,20,22
2,Freie Universität Berlin.,7,7,10,8,10
7,"Eberhard Karls University, Tübingen",12,7,15,13,15
16,Eberhard Karls,21,7,24,22,24
18,Dresden University,23,7,26,24,26
13,Bremen University,18,7,21,19,21
8,BSBI,13,7,16,14,16
12,Arden University,17,7,20,18,20

Adding a new column to the existing data

In [17]:
df['BA Faculty'] =df['Computer Science Faculty'] + df['Economics Faculty'] + df['HR Faculty'] + df['Social Science Faculty'] + df['Accounting Faculty']

In [18]:
df

,Universities,Computer Science Faculty,Economics Faculty,HR Faculty,Social Science Faculty,Accounting Faculty,BA Faculty
0,Technical University of Munich.,5,7,8,6,8,34
1,Humboldt-Universität zu Berlin.,6,7,9,7,9,38
2,Freie Universität Berlin.,7,7,10,8,10,42
3,University of Bonn.,8,7,11,9,11,46
4,University of Göttingen.,9,7,12,10,12,50
5,University of Hamburg.,10,7,13,11,13,54
6,University of Freiburg.,11,7,14,12,14,58
7,"Eberhard Karls University, Tübingen",12,7,15,13,15,62
8,BSBI,13,7,16,14,16,66
9,Technische Universität München,14,7,17,15,17,70
10,Ludwig-Maximilians-Universität München,15,7,18,16,18,74
11,Ruprecht-Karls-Universität Heidelberg,16,7,19,17,19,78
12,Arden University,17,7,20,18,20,82
13,Bremen University,18,7,21,19,21,86
14,Hamburg University,19,7,22,20,22,90
15,Universitat Freiburg,20,7,23,21,23,94
16,Eberhard Karls,21,7,24,22,24,98
17,Munchen University,22,7,25,23,25,102
18,Dresden University,23,7,26,24,26,106
19,Technische Universität Berlin,24,7,27,25,27,110
20,Technische Universität Bremen,25,8,28,26,28,115
21,Technische Universität Harburg,26,9,29,27,29,120
22,Technische Universität Berlin,27,10,30,28,30,125
23,Technische Universität Berlin,28,11,31,29,31,130
24,Technische Universität Berlin,29,12,32,30,32,135
25,Technische Universität Berlin,30,13,33,31,33,140
26,Technische Universität Berlin,31,14,34,32,34,145
27,Technische Universität Berlin,32,15,35,33,35,150
28,Technische Universität Berlin,33,16,36,34,36,155

In [19]:
#trying manually to make sure the total is the same number
33+16+36+34+36

155

In [29]:
#adding a column different way and doing the total
#axis 1 is adding horizontally
#axis is 0 is adding vertically
df['Sum']=df.iloc[:,4:6].sum(axis=1)

In [30]:
df

,Universities,Computer Science Faculty,Economics Faculty,HR Faculty,Social Science Faculty,Accounting Faculty,BA Faculty,Sum
0,Technical University of Munich.,5,7,8,6,8,34,14
1,Humboldt-Universität zu Berlin.,6,7,9,7,9,38,16
2,Freie Universität Berlin.,7,7,10,8,10,42,18
3,University of Bonn.,8,7,11,9,11,46,20
4,University of Göttingen.,9,7,12,10,12,50,22
5,University of Hamburg.,10,7,13,11,13,54,24
6,University of Freiburg.,11,7,14,12,14,58,26
7,"Eberhard Karls University, Tübingen",12,7,15,13,15,62,28
8,BSBI,13,7,16,14,16,66,30
9,Technische Universität München,14,7,17,15,17,70,32
10,Ludwig-Maximilians-Universität München,15,7,18,16,18,74,34
11,Ruprecht-Karls-Universität Heidelberg,16,7,19,17,19,78,36
12,Arden University,17,7,20,18,20,82,38
13,Bremen University,18,7,21,19,21,86,40
14,Hamburg University,19,7,22,20,22,90,42
15,Universitat Freiburg,20,7,23,21,23,94,44
16,Eberhard Karls,21,7,24,22,24,98,46
17,Munchen University,22,7,25,23,25,102,48
18,Dresden University,23,7,26,24,26,106,50
19,Technische Universität Berlin,24,7,27,25,27,110,52
20,Technische Universität Bremen,25,8,28,26,28,115,54
21,Technische Universität Harburg,26,9,29,27,29,120,56
22,Technische Universität Berlin,27,10,30,28,30,125,58
23,Technische Universität Berlin,28,11,31,29,31,130,60
24,Technische Universität Berlin,29,12,32,30,32,135,62
25,Technische Universität Berlin,30,13,33,31,33,140,64
26,Technische Universität Berlin,31,14,34,32,34,145,66
27,Technische Universität Berlin,32,15,35,33,35,150,68
28,Technische Universität Berlin,33,16,36,34,36,155,70

In [25]:
#df.to_csv('germanuniversity.csv',index=False)

df.to_csv('germanuniversity.csv')

In [ ]:
#end of the project